<launch>
  <arg name="vocab_path" value="$(find orb_slam2)../../../Vocabulary/ORBvoc.bin" />
  <arg name="config_path" value="$(find orb_slam2)../../../cam_configs/mono_air_unit_usb_cam.yaml" />
  <arg name="save_map" value="0"/>
  <arg name="odom_scale_factor" value="11"/>
  
  <node name="orb_slam2_mono" pkg="orb_slam2" type="mono" args="$(arg vocab_path) $(arg config_path) $(arg save_map) $(arg odom_scale_factor)" output="screen">
    <remap from="camera/image_raw" to="usb_cam/image_raw" />

  </node>

  <!-- start up realsense d435i -->
  <include file="$(find orb_slam2)/launch/usb_cam.launch" />

</launch>