<launch>
  <arg name="vocab_path" value="$(find orb_slam2)../../../Vocabulary/ORBvoc.bin" />
  <!-- <arg name="config_path" value="$(find orb_slam2)../../../cam_configs/rgbd_kitti_00_02.yaml" /> -->
  <arg name="config_path" value="$(find orb_slam2)../../../Examples/RGB-D/rgbd_kitti_00_02_500.yaml" />
  <arg name="save_map" value="0"/>


  
  <node name="orb_slam2_rgbd" pkg="orb_slam2" type="rgbd" args="$(arg vocab_path) $(arg config_path)"/>

</launch>