<launch>
  <arg name="vocab_path" value="$(find orb_slam2)../../../Vocabulary/ORBvoc.bin" />
  <arg name="config_path" value="$(find orb_slam2)../../../cam_configs/rgbd_rs_d455.yaml" />
  <arg name="save_map" value="1" /> <!-- the map is saved at /home/jy/.ros/ -->
  <arg name="odom_scale_factor" value="1">
  
  <node name="orb_slam2_rgbd" pkg="orb_slam2" type="rgbd" args="$(arg vocab_path) $(arg config_path) $(arg save_map) $(arg odom_scale_factor)" output="screen">
    <!-- <remap from="camera/rgb/image_raw" to="camera/color/image_raw" /> -->
    <!-- <remap from="camera/registered_depth/image_raw" to="camera/aligned_depth_to_color/image_raw" /> -->

  </node>

  <!-- start up realsense d455 -->
  <include file="$(find realsense2_camera)/launch/rs_rgbd.launch" />


</launch>